*{
    margin: 0;
}

html, body {
    height: 100%;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(245, 166, 48);
}

h1 {
    font-size: 3em;
    margin-top: 1em;
}
h2 {
    margin-top: 3em;
    margin-bottom: 2em;
}
h3 {
    margin .5em 0em .5em 0em;
}


header {
    display: block;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    background-color: rgb(51, 212, 204);
    padding: 10px;
}

nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
}

nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    line-height: 1.2em;
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(58, 2, 58);
    list-style: none;
    text-decoration: none;
    line-height: 1em;
    text-align: left;
    display: block;
    margin: .5em 0em .5em 0em;
    font-size: 18px;
    padding: 0;
}

a:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(51, 212, 204);
}

main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/background.png");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

aside,
article {
    padding: 2em;
}
aside {
    text-align: center;
    float: left;
}

article {
    width: 75%;
}

@media only screen and (min-width: 768px) {

    main {
        display: flex;
    }

    aside {
        margin-left: 2%;
    }
}


.heading {
    color: rgb(104, 12, 104);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    pa
    }
.heading2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
    font-weight: bold;
}
.heading3 {
    color: rgb(58, 2, 58);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.description {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
     padding: 10px;
    text-align: left;
}
.sub-title {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: left;
    margin: 2em 0 9em 0;
}

.sub-title2 {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: left;
    margin: 2em 0 2em 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
